<img [src]="imageURL" alt="">
<h1>{{title}}</h1>
<app-navbar></app-navbar>
<app-header></app-header>

<button disabled="{{isDisabled}}">Disable using string interpolation </button>

<button [disabled]="isDisabled">Disable using data binding</button>


<!-- class binding -->

<button 
[class.active]="isActive" 
[class.no-active]="!isActive"
[class.active-border]="isActive"
[class.no-active-border]="!isActive"
>Click me</button>

<!-- style binding -->

<button [style.background]="isActive? 'red' : 'green'" >Click</button>

<!-- event binding -->

<button (click)="clickButton()">Click me </button>

<input type="text" (keyup)="keyEnter($event)">

<input type="text" (keyup.enter)="keyFiltering(user)" #user>

<!-- two way data binding -->

<input type="text" [value]="userName" #username (keyup.enter)="changeUsername(username)" >

<input type="text" [(ngModel)]="userName">

<h3>{{ userName }}</h3>